/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

h1 {
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 7.7rem;
  color: #1A233B;
  margin-block-end: 0;
  margin-block-start: 0.67em;
}

h2 {
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.8rem;
}

h4 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.2rem;
  color: #1A233B;
}

a {
  list-style-type: none;
}

a:visited {
  color: #1A233B;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  max-width: 1440px;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  border-radius: 10%;
  font-family: Nunito Sans;
  cursor: pointer;
}

.button_bordered {
  background: #FFFFFF;
  border: 0.3px solid #0460BA;
  color: #0460BA;
}

.button_colored {
  background: #0460BA;
  border-color: #0460BA;
  color: #FFFFFF;
}

.button_colored:hover {
  background: #FFFFFF;
  color: #0460BA;
  transition: all 0.3s;
}

.button_bordered:hover {
  background: #F4F5F9;
  color: #0460BA;
  transition: all 0.3s;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  border: red solid 1px;
}

body {
  position: relative;
}

.sidebar {
  background-color: #F4F5F9;
  z-index: 100;
  width: 100%;
}

.sidebar__container {
  padding: 1px 0 1px;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 1.5rem;
}

.icon {
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
  background-position: center;
}

.menu__link {
  display: flex;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 19px;
  top: calc(50% - 19px/2);
}

.ico_binary {
  background-image: url(/img/icons/sidebar/binary.png);
  width: 24px;
  height: 24px;
}

.ico_arrow {
  background-image: url(/img/icons/sidebar/arrow.png);
  width: 24px;
  height: 24px;
}

.ico_check {
  background-image: url(/img/icons/sidebar/check.png);
  width: 24px;
  height: 23.83px;
}

.ico_clip {
  background-image: url(/img/icons/sidebar/clip.png);
  width: 24px;
  height: 26.68px;
}

.ico_seek {
  background-image: url(/img/icons/sidebar/seek.png);
  width: 24px;
  height: 24px;
}

.ico_wall {
  background-image: url(/img/icons/sidebar/wall.png);
  width: 24px;
  height: 20.98px;
}

.ico_display {
  background-image: url(/img/icons/sidebar/display.png);
  width: 26px;
  height: 24.67px;
}

.menu__arrow {
  border: none;
  outline: none;
  background-color: #F4F5F9;
}

.ico_bot {
  background-image: url(/img/icons/sidebar/bot.png);
  width: 24px;
  height: 22px;
}

.header {
  padding-top: 36px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F3F9FF 100%);
}

.header__buttons {
  border-bottom: 1px solid blue;
}
.header__buttons .button:first-child {
  margin-right: 14px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__nav {
  margin-left: 10px;
}
.header__container .nav {
  display: flex;
}
.header__container .nav .nav__item {
  list-style: none;
  padding-right: 25px;
}
.header__container .nav .nav__item .nav__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.button_bordered {
  width: 109px;
  height: 44px;
}

.button_colored {
  width: 109px;
  height: 44px;
}

.logo__icon {
  background-image: url(/img/icons/main-logo.svg);
  width: 243px;
  height: 44px;
}

.promo {
  padding: 48px 0 81px 0;
}

.promo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo__container .promo__content {
  width: 451px;
  padding-bottom: 77px;
}
.promo__container .content__text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3rem;
  color: #35415E;
}

.link-button {
  text-decoration: none;
  padding-top: 10px;
}

.promo__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #35415E;
}

.promo__image {
  width: 576px;
}

.pr {
  width: 119px;
  height: 44px;
}

.ico_checked {
  margin-left: 15px;
  background-image: url(/img/icons/checkmark.png);
  width: 24px;
  height: 24px;
}

.acc {
  width: 181px;
}

.brands {
  padding: 51px 0 34px 0;
}

.brands__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands__logo {
  display: inline-block;
}

.insta {
  background: url("/img/brands/insta.png") no-repeat center;
  width: 220px;
  height: 74px;
}

.twitter {
  background: url("/img/brands/twitter.png") no-repeat center;
  width: 242px;
  height: 45px;
}

.cnn {
  background: url("/img/brands/cnn2.png") no-repeat center;
  width: 130px;
  height: 60px;
}

.facebook {
  background: url("/img/brands/fb.png") no-repeat center;
  width: 238px;
  height: 46px;
}

.create-account {
  background: #0460BA;
  box-shadow: 0 2px 6px rgba(26, 35, 59, 0.120957);
}

.create-account__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 0;
  color: #FFFFFF;
}
.create-account__block .create-account__description {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.link__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link__container_link-button {
  color: #FFFFFF;
}

.ico_logo {
  background: url("/img/logoW.svg");
  width: 74px;
  height: 56px;
}

.link-button {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
.link-button_:visited {
  color: #FFFFFF;
}

.sysop__container {
  background: #0460BA;
  color: #F4F5F9;
}

.sysop__logo {
  padding: 41px 0 0 48px;
}

.sysop__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 22px 0 2px 48px;
}

.sysop__review {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  padding: 0 0 35px 48px;
}

/*# sourceMappingURL=style.css.map */
