.sysop__container {
  background: $color-brand;
  color: $color-background;
}
.sysop__logo {
  padding: 41px 0 0 48px;
}

.sysop__description{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 22px 0 2px 48px;
}

.sysop__review {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  padding: 0 0 35px 48px;
}
